<html>
<head>
   <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/stil.css') }}">
<title>TTV</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<form method="POST" action="/save_bearer">
   <div class="input-container ic2">
      <input name="bearer" class="input" size="50" id="title" type="text" placeholder=" "><br><br>
      <div class="cut"></div>
      <label for="bearer" class="placeholder">API key for elai.io</label>
   </div>
   <br>
   <input type="submit" class="submit" value="Save">
</form>

<br>



</body>
</html>
